* {
	box-sizing: border-box;
}
html {
	display: flex;
	justify-content: center;
	background: #333;
	min-height: 100%;
}
html, body {
	margin: 0;
	padding: 0;
}
body {
//   background: #c735f0;
//   background: #a425c7;
// background: #eae4de;
  background: #efefef;
  color: #333;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  font-family: sans-serif;
  border-radius: 3px; 
  min-height: 90%;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 520px;
}
#jass {
	position: relative;
}
header {
	padding: 10px 0;
	position: relative;
	top: 0;
	width: 100%;
	background: #211b04;
	font-family: sans-serif;
	box-shadow: 0 5px 10px rgba(0,0,0,.25);
	border-radius: 3px 3px 0 0;

}

h1 {
    cursor: pointer;
}

#login {
    background: green;
}
.formHolder {
    margin-top: 1em;
    .button {
        margin-top: 1em;
    }
}
input {
    display: block;
    margin-bottom: 8px;
    border: none;
    border-radius: 3px;
    // background: #f562ff;
    background: #ddd;
    font-size: 1.5rem;
    color: #333; 
    padding: .5em 1em;
    width: 94%;
    margin-left: 3%;
    box-shadow: inset 0 0 5px rgba(0,0,0,.5);
    &::placeholder {
        color: rgba(0,0,0,.4);
        font-style: italic;
    }
    &:focus {
        outline: none;
    }
}
a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
    // font-style: italic;
}
.button {
    display: inline-block;
    background: #ccc;
    padding: .5em;
    width: 7em;
    font-size: 1rem;
    border-radius: 3px;
    font-weight: 500;
    margin: 3px;
    &:hover {
        cursor: pointer;
    }
}

.back-to-main {
    margin: 50px;
}

.passage-wrapper {
    padding: 20px;
    margin: 10px;
    border: 2px solid #b8b8b8;
    color: #333;

    .passage-title {
        font-weight: 500;
        font-size: 1.8rem;
        margin: 20px;
    }
    .passage-content {
        font-family: serif;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 20px auto;
        padding: 10px;
    }
    .passage-author {
        font-size: 1.2rem;
        font-weight: 200;
        font-style: italic;
        span {
            font-style: normal;
        }
        margin: 20px;
    }
}

li {
    list-style-type: none;
    font-weight: 100;
    display: flex;
    flex-direction: column;
}

.titles-title {
    font-weight: 700;
}

.titles-author {
    font-weight: 200;
    font-size: 1rem;
    margin-left: 10px;
    font-style: italic;
}

.btn-path {
    font-weight: 700;

    .btn-1 {
        margin: 10px;
        border: 2px solid #b8b8b8;	
        padding: 10px;
        cursor: pointer;
        &:hover {
            background-color: #b8b8b8;
            color: #efefef;
            transition: .2s ease;
        }
    }
    .btn-2 {
        margin: 10px;
        border: 2px solid #b8b8b8;
        padding: 10px;
        cursor: pointer;
        &:hover {
            background-color: #b8b8b8;	
            color: #efefef;
            transition: .2s ease;            
        }
    }
}

.btn-start-new-story {
    border: 2px solid #333;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    &:hover {
        background-color: #111;
        color: #efefef;
        transition: .2s ease;
    }
}

.back-button {
    cursor: pointer;
    margin: 20px;
}

.back-button-in-upload {
    cursor: pointer;
    margin: 70px 30px 30px 30px;
}